################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/shared/target/debug
/.vs/Console/v18
/.vs
/target/rust-analyzer
/shared/target
/loadstamps/target
/loadstamps/settings.txt
/*.log
/returnDevicekey/*.lock
/returnDevicekey/settings.txt
/teststamp/*.lock
/teststamp/logs/*.log
/teststamp/settings.txt
/teststamp/target
/settings.txt
/returnkey/settings.txt
